/*----------------------------------------------*/
:root {
    --mainColor: #3B5997;   /* FaceBook blue */
    --accentColor: #ED7F09; /* Trendy orange */
}

/*----------------------------------------------*/
/* Trendy orange */
.AccentColor
{
    color: #ED7F09;
    font-weight: bold;
}

/* FaceBook blue */
.BaseColor
{
    color: #3B5997;
    background-color: White;
}

.SelectionTD 
{
    border: 1px solid black;
}        

body, textarea
{
    font-family: "Times New Roman";
    font-size: 20px;
}

input
{
    font-family: "Times New Roman";
    font-size: 20px;
}

#report_level_1 
{
    font-weight: bold;
}
        
#report_level_2 
{
    margin-left: 25px;
}
        
#report_level_3 
{
    margin-left: 50px;
}
        
#output_json
{
    height: 600px;
    width: 850px;
}
